#textarea {
  background: rgb(245, 243, 243);
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  width: 61%;
  height: 30vh;
  padding: 20px 9px 20px 60px;
  line-height: 25px;
  font-size: 15px;
}
#textarea:focus-visible {
  outline: none;
}
button {
  background: blueviolet;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
  margin: 2% 0;
  width: 59%;
}
#error {
  color: red;
  margin: 2% auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid red;
  width: 56%;
  display: flex;
}
#success {
  color: green;
  font-weight: 800;
  margin: 2% auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(3, 97, 3);
  width: 57%;
}
ul {
  list-style-type: none;
}
li {
  font-weight: bold;
  line-height: 25px;
}
.btn {
  background: transparent;
  color: red;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
.outer {
  display: flex;
  margin: 0 auto -2%;
  align-items: center;
  justify-content: space-between;
  width: 58%;
}
.outer p {
  color: red;
  font-size: 15px;
}
hr {
  width: 0.9px;
  height: 20px;
  background: red;
  margin: 0 20px;
}
.btn_one {
  display: flex;
}
ol {
  padding: 0 43% 0 23%;
}
.LineNumberedTextarea {
  display: flex;
}
.textareaContainer {
  width: 88%;
}
.lineNumbers {
  margin: 0 -15% 0 20%;
  transform: translate(25px, 20px);
  font-size: 15px;
  padding: 0 5px 0 0;
  line-height: 25px;
  color: grey;
}
.line {
  height: 30vh;
  background: grey;
  width: 1px;
  transform: translate(216px, 18px);
}
