#textarea {
  background: rgb(245, 243, 243);
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  width: 50%;
  height: 30vh;
  padding: 20px;
  line-height: 25px;
}
#textarea:focus-visible {
  outline: none;
}
button {
  background: blueviolet;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  margin: 20px;
}
#error {
  color: red;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid red;
  width: 50%;
}
ul {
  list-style-type: none;
}
li {
  font-weight: bold;
  line-height: 25px;
}
